html
{
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}

body
{
width: 1000px;
margin: 0 auto;
background-color: #ffffff;
padding: 0px 20px 20px 20px;
border: 1px rgb(219, 219, 219);
-webkit-font-smoothing: antialiased;
}

nav
{
    display: flex;
    margin: 0px auto; 
    justify-content: center;
}

#plans, #change, #homepage,#news,#contacts,  #links

{
   
padding: 20px 50px; 
    background-color:#0056b9;
    border-color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color:rgb(255, 255, 255);
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
#homepage:hover, #contacts:hover, #links:hover, #plans:hover, #news:hover, #change:hover
{
        box-shadow: 0 0 30px 1px #10009e inset;
}

#send
{
margin-top: 10px;
margin-left: auto;
padding: 1px 30px;
background-color:#00bcef;
border-color: rgb(255, 255, 255);
border: none;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
color:rgb(255, 255, 255);
}
#send:hover 
{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}



#heading
{
padding: 15px;
color: rgb(0, 0, 0);
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

img
{
    display: block;
    margin: 0 auto;
}



h1
{
    font-size: 32px;
    text-align: center;
}

p, ul, li 
{
    font-size: 14px;
    line-height: 1,5;
    letter-spacing: 1px;
    text-align: justify;
}

p
{
    text-indent: 40px;
}
