html
{
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}

h1
{
    font-size: 32px;
    text-align: center;
}

p, ul, li 
{
    font-size: 14px;
    line-height: 1,5;
    letter-spacing: 1px;
    text-align: justify;
}

p
{
    text-indent: 40px;
}

body
{
width: 1000px;
margin: 0 auto;
background-color: #ffffff;
padding: 0px 20px 20px 20px;
border: 1px rgb(219, 219, 219);
-webkit-font-smoothing: antialiased;
}

nav
{
    display: flex;
}
#news, #contacts
{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding: 40px 85px;
    background-color:#0056b9;
    border-color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color:rgb(255, 255, 255);
}


#homepage, #plans, #links
{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding: 40px 40px;
    background-color:#0056b9;
    border-color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color:rgb(255, 255, 255);
}

#homepage:hover 
{
        box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}
#contacts:hover 
{
        box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}
#links:hover 
{
        box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}
#plans:hover 
{
        box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}
#news:hover 
{
        box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}



#change_user
{
    display: flex;
}

#change
{
margin-top: 10px;
margin-left: auto;
margin-right: 10px;
padding: 1px 30px;
background-color:#00bcef;
border-color: rgb(255, 255, 255);
border: none;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
color:rgb(255, 255, 255);
}
#change:hover 
{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}

#send
{
margin-top: 10px;
margin-left: auto;
padding: 1px 30px;
background-color:#00bcef;
border-color: rgb(255, 255, 255);
border: none;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
color:rgb(255, 255, 255);
}
#send:hover 
{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #3498db;
}



#heading
{
margin: 10px 10px;
padding: 1px 30px;
color: rgb(0, 0, 0);
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

img
{
    display: block;
    margin: 0 auto;
}


