html
{
    font-family: 'Nunito', sans-serif;
    background-color: #eeeeee;
}

h1
{
    font-size: 32px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(240, 240, 240);
}

p, ul, li 
{
    font-size: 14px;
    line-height: 1,5;
    letter-spacing: 1px;
    text-align: justify;
}

body
{
width: 1000px;
margin: 0 auto;
background-color: #ffffff;
padding: 0px 20px 20px 20px;
border: 1px rgb(219, 219, 219);
}

button
{
margin-left: auto;
}

div{
    display:flex;
}

img
{
    display: block;
    margin: 0 auto;
}